version: "2"
services:
  grafana:
    image: grafana/grafana
    container_name: grafana-test
    restart: always
    ports:
      - 3000:3000
    volumes:
      - volume-grafana:/var/lib/grafana
  influxdb:
    image: influxdb
    container_name: influxdb-test
    restart: always
    ports:
      - 8086:8086
    volumes:
      - influxdb-volume:/var/lib/influxdb
  telegraf:
    image: telegraf
    container_name: telegraf-test
    restart: always
    ports:
      - 8092:8092
volumes:
  volume-grafana:
    external: true
  influxdb-volume:
    external: true